In [1]:
import sys 
import os

# Get the parent directory (project_root)
parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))

# Add scripts/ to the system path
sys.path.append(os.path.join(parent_dir, 'utils'))

In [2]:
import pandas as pd
import numpy as np
import data_prep, import_data, tools

In [3]:
config = tools.GetConfig().get_config()
columns_config = config['columns']
name_col = columns_config['name_col']
symbol_col = columns_config['symbol_col']
fromdate_col = columns_config['fromdate_col']
todate_col = columns_config['todate_col']

In [4]:
portfolio = tools.PortfolioReader.read_portfolio()
portfolio.head()

        name symbol  start_date    end_date
0      apple   AAPL  2021-01-01  2025-10-01
1     google  GOOGL  2021-01-01  2025-10-01
2  microsoft   MSFT  2021-01-01  2025-10-01
3     amazon   AMZN  2021-01-01  2025-10-01
4      tesla   TSLA  2021-01-01  2025-10-01

In [5]:
data = import_data.DataImporter().import_data(portfolio_df=portfolio)

In [6]:
data

,symbol,date,open,high,low,close,volume,change,changePercent,vwap
0,AAPL,2025-10-01,255.04,258.79,254.93,255.45,48713940,0.410,0.160760,256.0525
1,AAPL,2025-09-30,254.86,255.92,253.11,254.63,37704300,-0.225,-0.090246,254.6300
2,AAPL,2025-09-29,254.56,255.00,253.01,254.43,40127700,-0.130,-0.051069,254.2500
3,AAPL,2025-09-26,254.10,257.60,253.78,255.46,46076300,1.370,0.535220,255.2350
4,AAPL,2025-09-25,253.21,257.17,251.71,256.87,55202100,3.660,1.450000,254.7400
...,...,...,...,...,...,...,...,...,...,...
5955,TSLA,2021-01-08,285.33,294.83,279.46,293.34,225166500,8.010,2.810000,289.2100
5956,TSLA,2021-01-07,259.21,272.33,258.40,272.01,154496700,12.800,4.940000,267.5800
5957,TSLA,2021-01-06,252.83,258.00,249.70,251.99,134100000,-0.840,-0.332240,253.2300
5958,TSLA,2021-01-05,241.22,246.95,239.73,245.04,96735600,3.820,1.580000,243.9100
5959,TSLA,2021-01-04,239.82,248.16,239.06,243.26,145914600,3.440,1.430000,243.4900